<link rel="stylesheet" href="/css/github.css"> 
<div class="container">
    <div class="row justify-content-center mt-5">
    <div class="row justify-content-center">
    <div class="col-md-6 text-center"> <!-- Añadido 'text-center' para centrar el contenido -->
        <h1 class="mb-4">Logueate usando Github!</h1> <!-- Quitado 'text-center', ya se centrará por el padre -->
        <a href="/api/sessions/github" class="btn btn-primary btn-block mb-3">Entrar con Github</a> <!-- Añadido 'btn-block' para que el botón ocupe todo el ancho -->
        <h2 class="text-left">No quieres usar Github? Puedes usar nuestros enlaces:</h2> <!-- Añadido 'text-left' para alinear a la izquierda -->
        <p class="mt-3">¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
        <p>¿Ya tienes cuenta con nosotros? <a href="/users/login">Haz Login aquí</a></p>
    </div>
    </div>
    </div>
</div>