<link rel="stylesheet" href="/css/logout.css">
<div class="container">
    <br><br>
    <div class="align-center"><b>sesión cerrada correctamente</b></div>
    <br><br>
    <p class="align-center" class="mt-3">¿Quieres volver a iniciar sesión? <a href="/users/login">Inicia sesión aquí</a></p>
</div>